aiohttp==3.11.18
beautifulsoup4==4.13.4
boto3==1.37.1
pillow==12.1.1
psycopg2-binary==2.9.10
pydantic==2.11.3
pydantic-settings==2.12.0
python-dotenv==1.1.0
qdrant-client==1.16.2
requests==2.32.3
torch==2.10.0
tqdm==4.67.1
transformers==5.1.0