name: Retail Chat Agent ETL CI/CD Pipeline

on:
  push:
    branches:
      - "main"
      - "feature/**"
  pull_request:
    branches:
      - "main"

jobs:
  tests:
    name: Run Tests and Linting
    uses: ./.github/workflows/test-and-lint.yaml
    secrets: inherit

  deploy:
    name: Deploy to Remote Server
    needs: tests
    uses: ./.github/workflows/deploy-to-server.yaml
    secrets: inherit