name: Retail Chat Agent ETL CI/CD Pipeline

on:
  push:
    branches:
      - "main"
      - "feature/**"
  
  workflow_dispatch:
  
  workflow_call:

jobs:
  tests:
    name: Run Tests and Linting
    uses: ./.github/workflows/test-and-lint.yaml
    secrets: inherit
  
  build-and-push:
    name: Build and Push Docker Images
    needs: tests
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/build-and-push.yaml
    permissions:
      contents: write
      packages: write
    secrets: inherit

  # deploy-staging:
  #   name: Deploy to Staging Server
  #   needs: build-and-push
  #   if: github.ref == 'refs/heads/main'
  #   uses: ./.github/workflows/deploy-to-staging.yaml
  #   secrets: inherit
  
  # deploy-production:
  #   name: Deploy to Production Server
  #   needs: deploy-staging
  #   if: github.ref == 'refs/heads/main'
  #   uses: ./.github/workflows/deploy-to-production.yaml
  #   secrets: inherit