name: Deploy to Remote Server

on:
  workflow_call

jobs:
  deploy-to-server:
    name: Deploy Codebase to Remote Server

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e
            
            echo "Add Deployment Commands Here"

            echo "Deployment complete!"