name: Deploy to Production Server

on:
  workflow_call

env:
  IMAGE_REGISTRY: ghcr.io
  IMAGE_OWNER: ${{ github.actor }}
  IMAGE_NAME: retail-chat-agent-etl

jobs:
  deploy-to-server:
    name: Deploy Codebase to Production Server

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PRODUCTION_SERVER_HOST }}
          username: ${{ secrets.PRODUCTION_SERVER_USER }}
          key: ${{ secrets.PRODUCTION_SERVER_SSH_KEY }}
          script: |
            set -e

            echo "Connecting to staging server and deploying Codebase"
            if [ -d "Retail-Chat-Agent-ETL" ]; then
              rm -rf Retail-Chat-Agent-ETL
            fi

            git clone https://${{ secrets.TOKEN_GITHUB }}@github.com/jibbs1703/Retail-Chat-Agent-ETL.git
            cd Retail-Chat-Agent-ETL

            chmod +x docker-setup.sh
            ./docker-setup.sh

            echo ${{ secrets.TOKEN_GITHUB }} | sudo docker login ${{ env.IMAGE_REGISTRY }} -u ${{ github.actor }} --password-stdin

            docker pull ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_OWNER }}/${{ env.IMAGE_NAME }}:latest

            make ingestion-restart

            echo "Deployment to staging server completed successfully!"
