name: Deploy to Production Server

on:
  workflow_call

jobs:
  deploy-to-server:
    name: Deploy Codebase to Production Server

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }} # TODO: Update this to point to the production server
          username: ${{ secrets.SERVER_USER }} # TODO: Update this to use the production server user
          key: ${{ secrets.SERVER_SSH_KEY }} # TODO: Update this to use the production server SSH key
          script: |
            set -e
            echo "Connecting to production server and deploying codebase..."
            
            sudo rm -rf Retail-Chat-Agent-ETL
            git clone -b feature/deploy-ingestion https://github.com/jibbs1703/Retail-Chat-Agent.git Retail-Chat-Agent-ETL
            cd Retail-Chat-Agent-ETL
            
            chmod +x docker-setup.sh
            bash docker-setup.sh

            make ingestion-up

            echo "Deployment to production server completed successfully!"